<h2>Test</h2>
<mat-accordion class="example-headers-align">
  <mat-expansion-panel *ngIf="test != null" hideToggle [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ test.test.name | titlecase }}
      </mat-panel-title>
      <mat-panel-description>
        {{ test.test.type | titlecase }}
        <mat-icon>account_circle</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="content-test">
      <p>{{ test.test.user.fullname | titlecase }} <span>({{test.test.user.email}})</span></p>
      <p>{{ test.test.createdAt | date }}</p>
    </div>
    <mat-action-row class="form-action">
      <div>
        <a mat-button (click)="toDetele()" matTooltip="Delete test"> Delete </a>
        <a mat-button matTooltip="Edit test"> Edit </a>
      </div>
      <a mat-button (click)="toBack()"> Cancel </a>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<h2>Questionnaire</h2>
<mat-accordion *ngIf="test != null" class="example-headers-align">
  <mat-expansion-panel [expanded]="step === i" (opened)="setStep(i, item.question.id)" hideToggle
    *ngFor="let item of test.questionnaire; let i = index">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ i + 1 }}.- {{ item.question.query | titlecase }}
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div class="item-flex-answers">
      <mat-radio-group>
        <span *ngFor="let item of answers">
          <mat-radio-button (click)="changeAnswers(item.id)" [value]="item.id" [checked]="item.points == 3">
            {{ item.text }}
          </mat-radio-button>
        </span>
      </mat-radio-group>
    </div>

    <mat-action-row class="form-action">
      <div>
        <a mat-button matTooltip="Delete question"> Delete </a>
        <a mat-button matTooltip="Edit question"> Edit </a>
      </div>
      <div>
        <button mat-button color="warn" *ngIf="i > 0" (click)="prevStep()">Previous</button>
        <button mat-button color="primary" (click)="nextStep()">
            <span *ngIf="countQuestion != i">Next</span>
            <span *ngIf="countQuestion == i">End</span>
        </button>
      </div>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>