.content-test {
  display: flex;
  justify-content: space-between;
  p > span{
    color: rgba(0, 0, 0, 0.54);
    font-size: 12px;
  }
}

.item-flex-answers {
  .mat-radio-group {
    display: flex;
    flex-direction: column;
    margin: 0 1.2rem;
  }
  .mat-radio-button{
    min-width: 100px;
    margin: 0.5rem;
  }
}

.form-action {
  display: flex;
  margin-top: 1rem; 
  justify-content: flex-end;
  font-weight: bold;
}

.btn-style {
  a:nth-child(1) {
    color: #721c24;
  }
  a:nth-child(2) {
    color: #004085;
  }
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

mat-form-field {
  margin-right: 12px;
}

.mt-1rem {
  margin-top: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
}

.flex {
  justify-content: center;
  align-items: center;
}

.mat-action-row { 
  padding: 16px 8px;
}

.card-action {
  margin: 0;
  padding: 8px 0;
  display: flex;
  justify-content: flex-end;
  a:nth-child(2) {
    color: #155724;
  }
}

.card-flex:hover {
  cursor: pointer;
}

.icon-display {
  color: #3f51b5;
  transform: scale(2);
}

@media screen and (max-width: 687px) {
  .content-flex {
    flex-direction: column
  }
}