.content-test {
  display: flex;
  justify-content: space-between;
  p > span{
    color: rgba(0, 0, 0, 0.54);
    font-size: 12px;
  }
}

.content-flex-answers {
  margin-bottom: 5px;
}

.content-flex-answers:last-child {
  margin-bottom: 0;
}


.item-flex-answers {
  border: #dbdbdb solid 1px;
  border-radius: 5px;
  display: flex;
  p:nth-child(1) {
    flex: 0 1 5%;
    display: flex;
    justify-content: center;
    border-right: 1px solid #dbdbdb;
  }
  p:nth-child(2) {
    flex: 0 1 95%;
    margin-left: 2.5%;
  }
}


.checked {
  // background-color: #C5CAE9; 
  border-color: #303F9F;
  p:nth-child(1) {
    border-right: 1px solid #303F9F;
  }
}

.form-action {
  display: flex;
  margin-top: 1rem; 
  justify-content: flex-end;
  font-weight: bold;
}

.btn-style {
  a:nth-child(1) {
    color: #721c24;
  }
  a:nth-child(2) {
    color: #004085;
  }
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

mat-form-field {
  margin-right: 12px;
}

.mt-1rem {
  margin-top: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
}

.flex {
  justify-content: center;
  align-items: center;
}

.mat-action-row { 
  padding: 16px 8px;
}

.card-action {
  margin: 0;
  padding: 8px 0;
  display: flex;
  justify-content: flex-end;
  a:nth-child(2) {
    color: #155724;
  }
}

.card-flex:hover {
  cursor: pointer;
}

.icon-display {
  color: #3f51b5;
  transform: scale(2);
}

@media screen and (max-width: 687px) {
  .content-flex {
    flex-direction: column
  }
}