.test {
  display: flex;
  justify-content: space-between;
  .mat-form-field {
    flex: 0 1 calc(50% - 0.5rem);
  }
}

.questionnaire-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.questionnaire-content {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  a {
    color:red;
  }
}
.form-action {
  display: flex;
  margin: 50px 0;
  justify-content: space-between;
}

.btn-actions {
  a:nth-child(1) {
    color: green;
  }
}

@media (max-width: 600px) {
  .test {
    display: flex;
    flex-direction: column;
  }
}