.test {
  display: flex;
  flex-direction: column;
}

.questionnaire-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.questionnaire-content {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  a {
    color:red;
  }
}


// .data-img:nth-child(1) {
//   // background: red;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }
// .data-img:nth-child(2) {
//   // background: blue;
//   display: flex;
  
// }

.form-action {
  display: flex;
  margin: 50px 0;
  justify-content: space-between;
}

.btn-actions {
  a:nth-child(1) {
    color: green;
  }
}