<div class="wrapper">
  <h2>New Test</h2>
  <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate> Form Valid: {{ form.valid }}
    <!-- Form test -->
    <div class="test">
      <mat-form-field>
        <input matInput placeholder="Name" formControlName="name" required>
        <mat-error *ngIf="form.controls.name.invalid">{{getErrorMessage('name')}}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Description" formControlName="description" required>
        <mat-error *ngIf="form.controls.name.invalid">{{getErrorMessage('description')}}</mat-error>
      </mat-form-field>
    </div>

    <div class="questionnaire-title">
      <h2>Questionnaire</h2>
    </div>

    <!-- quesrion form -->
    <div class="questionnaire-content" formArrayName="questionsForm"
         *ngFor="let control of form.controls['questionsForm'].controls; let i = index">
         <app-question-form [questionForm]="form.controls.questionsForm.controls[i]"
          [numberQuestion]="i" (deleteQuestion)="deleteQuestion($event)">
        </app-question-form>
    </div>

    <div class="form-action">
      <a mat-button (click)="toBack()"> CANCEL </a>
      <div class="btn-actions">
        
        <a mat-button (click)="addQuestion()"> ADD </a>
        <button mat-button color="primary"> SAVE </button>
      </div>
    </div>

  </form>
</div>