<div class="answers ml-32">
  <p>ANSWER</p>
  <div class="answers-content">
    <div class="answers-item" >
      <div class="item-img">
        <div class="data-img">
          <img src="../../../../assets/images/figure.png" alt="imagen">
        </div>
      </div>
      <mat-form-field>
        <input matInput placeholder="Name File" value="some-test.jpg">
      </mat-form-field>
      <button mat-button>Add imagen</button>
      <mat-form-field>
        <input matInput placeholder="Answers">
      </mat-form-field>
      <mat-form-field>
        <input matInput type="number" placeholder="points">
      </mat-form-field>
    </div>
  </div>
</div>