.answers-form {
  display: flex;
  flex-direction: column;
}
.item-img {
  width: 100%;
  display: flex;
  flex-direction: column;

}

.item-input {
  padding: 0 1rem;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
}

.data-img {
  background-color: #000;
  flex: 1 0;
  display: flex;
  justify-content: center;
  align-items: center;
}