<form [formGroup]="answersForm">
  <div class="answers-form">
    <!-- <div class="item-img">
      <div class="data-img">
        <img src="../../../../assets/images/figure.png" alt="imagen">
      </div>
    </div> -->
    <div class="item-input">
      <!-- <mat-form-field>
        <input matInput placeholder="Name File" value="some-test.jpg">
      </mat-form-field>

      <button mat-button>Add imagen</button> -->
      <mat-form-field>
        <input matInput placeholder="Answers" formControlName="text">
      </mat-form-field>

      <mat-form-field>
        <input matInput type="number" placeholder="points" formControlName="points">
      </mat-form-field>
    </div>
  </div>
</form>