<h1>Tests</h1>
  <div class="content-flex">
    <div class="item-flex">
      <mat-card (click)="toRegisterTest()">
        <mat-card-content class="card-flex">
          <mat-icon class="icon-display">add</mat-icon>
          <p>Add test</p>
        </mat-card-content>
      </mat-card>
    </div>
    <div *ngFor="let test of tests" class="item-flex">
      <mat-card>
        <mat-card-subtitle>{{ test.name | uppercase }}</mat-card-subtitle>
        <mat-card-content>
          <p>{{ test.type }}</p>
        </mat-card-content>
        <mat-card-footer> {{ test.createdAt | date }}</mat-card-footer>
      </mat-card>
    </div>
  </div>