.query {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.8em;
  .mat-form-field {
    margin-left: 10px;
    flex: 1 0;
  }
  a {
    color:red;
  }
}

.ml-answers {
  margin: 0 1.8em;
}
.query-options {
  .mat-checkbox {
    margin-left: 10px;
  }
}
.answers {
  font-weight: 400;
  font-size: 15px;
}

.answers-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.answers-subtitle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.answers-content {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  
  border-radius: 3px;
}

.answers-item {
  flex: 0 0 312px;
  border-style: dotted;
  border-color: #bdbdbd;
  border-radius: 3px;
  border-width: 1.5px;
  margin-bottom: 2em;
}

.item-actions {
  display: flex;
  flex-direction: column;
  a {
    font-size: 12px;
    color:red;
  }
}

.ripple {
  width: 312px;
  height: 173px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .icon-display {
    color: #757575;
    transform: scale(2);
  }
}

.ripple:hover {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .answers-content {
    height: 100%;
    justify-content: center;
    align-items: center;
  }
  .answers-item {
    flex: 1 0 100%;
  }
  .answers-item:last-child {
    height: 50px;
    border-style: solid;
    .ripple {
      width: 100%;
      height: 100%;
      .icon-display {
        transform: scale(1)
      }
    }
  }
}