<form [formGroup]="questions">
  <div class="query">
    <span *ngIf="numberQuestion > 0"> {{ numberQuestion }}.- </span>
    <mat-form-field>
      <input matInput placeholder="What is the question?" formControlName="query" required>
      <mat-error *ngIf="questions.controls.query.invalid">{{getErrorMessage('query')}}</mat-error>
    </mat-form-field>
    <a *ngIf="numberQuestion > 0" mat-icon-button (click)="clearQuestion()">
      <mat-icon>clear</mat-icon>
    </a>
  </div>
  <div class="answers">
    <div class="answers-title">
      <div class="answers-subtitle">
        <h3>Answers</h3>
      </div>
      <mat-checkbox formControlName="multiple"> Multiple Choice </mat-checkbox>
    </div>
    <div class="content-flex">

      <div class="item-flex" formArrayName="answers"
        *ngFor="let control of questions.controls['answers'].controls; let i = index">

        <mat-card>
          <app-answers-form [answers]=questions.controls.answers.controls[i]></app-answers-form>
          <div class="item-actions">
            <a mat-button (click)="removeAnswers(i)"> DELETE </a>
          </div>
        </mat-card>
      </div>

      <div class="item-flex">
        <mat-card matRipple [matRippleCentered]="centered">
          <div class="ripple" (click)="addAnswers()">
            <mat-icon class="icon-display">add</mat-icon>
          </div>
        </mat-card>
      </div>

    </div>
  </div>
</form>